@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-roman.latin.var.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-italic.latin.var.woff2) format('woff2');
  font-named-instance: 'Italic';
}

body {
  /* background-image: url(../public/images/background.jpg); */
  font-family: 'Inter var', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
    'cv03' 1, 'cv04' 1;
  font-variation-settings: 'wght' 450;
  font-variant: common-ligatures contextual;
  letter-spacing: -0.02em;
  margin: auto;
}
b,
strong,
h3,
h4,
h5,
h6 {
  font-variation-settings: 'wght' 650;
}
h1 {
  font-variation-settings: 'wght' 850;
  color:rgb(103, 57, 230) !important;
  text-shadow: 2px 2px #98adf0;
  margin-top: 5% !important;
  margin-bottom: -2% !important;

}
h2 {
  font-variation-settings: 'wght' 750;
  color:rgb(103, 57, 230) !important;
  text-shadow: 2px 2px #98adf0;
  margin-bottom: 1% !important;
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

details summary {
  cursor: pointer;
}

img.portfolio-image {
  margin: auto;
  width: 700px;
  height: 350px;
  border-radius: 15px;
  object-fit: fill;
}

img.profile-image {
  margin: auto;
  width: 600px;
  height: 350px;
  border-radius: 15px;
}

img.logo {
  position: static;
  width: 350px;
  height: 175px;
  margin-top: -32% !important;
  margin-bottom: -2% !important;
  display: block;
  object-position: top;
}

.prose a {
  color: #0074de;
}

.nav-line .nav-link {
  color: #7fb6e9;
}

hr {
  height: 3px;
  background-color:rgb(139, 241, 255);
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

/* unvisited link */
a:link {
  color: rgb(68, 0, 194);
}

/* visited link */
a:visited {
  color: rgb(91, 127, 243);
}

/* mouse over link */
a:hover {
  color: rgb(85, 83, 243);
}

/* selected link */
a:active {
  color: blue;
}
